
html {
    font-size: 25px;
    background: url('Images/Fondooo.png') no-repeat top;
    height: 100%;
    margin: 0px 0px 0px 160px;
    padding: 0;
    width: 1016px;
    height: 1610px;
}


.container {
    justify-content: center;
}
.container {
    width: 960px;
    margin: auto;
    margin-top: 0px;
}

 h1 {
        margin: -100px 0px 50px 200px;
        font-size: 2rem;
        color: rgb(255, 0, 34);
 }

  hr{
      height: 5px;
      background-color: antiquewhite;
   }
  section #Menu {
        margin-top: -100px;
        height: 170px;
        width: 960px;
       }
       nav {
        margin: 0px;
        height: 120px;
        }
   
    nav ul {
        margin: 0px 0px 10px 0px;
        height: 150px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        
       
    }

    nav li {
        margin-right: 15px;
        font-size: .9rem;
        
    }

    nav a {
        color: white;
        padding-bottom: 3px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: #020c3b;
        border-bottom: 3px solid #d13e43;
    }

    #Descripciones {
        height: 315px;
        padding: 0 px;
        margin: 0 px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;    
    }

    .Desc1 {
        width: 221px;
        height: 371px;
        background: url('Images/Miles.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:  #0e4f60;
    }

    .Desc1 p1{
        position: absolute;
        top: 210px;
        margin: 0px 70px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc1 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc2 {
        width: 221px;
        height: 371px;
        background: url('Images/Peter B. Parker.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:   #0e4f60;
    }
    .Desc2 p1{
        position: absolute;
        top: 210px;
        margin: 0px 70px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }
    .Desc2 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc3 {
        width: 221px;
        height: 371px;
        background: url('Images/Gwen.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:   #0e4f60;
    }
    .Desc3 p1{
        position: absolute;
        top: 210px;
        margin: 0px 40px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }
    .Desc3 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc4 {
        width: 221px;
        height: 371px;
        background: url('Images/Spider Noir.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:   #0e4f60;
    }
    .Desc4 p1{
        position: absolute;
        top: 210px;
        margin: 0px 60px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }
    .Desc4 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc5 {
        width: 221px;
        height: 371px;
        margin-top: 50px;
        background: url('Images/Peni Parker.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:  #0e4f60;
    }
    .Desc5 p1{
        position: absolute;
        top: 210px;
        margin: 0px 80px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }
    .Desc5 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    .Desc6 {
        width: 221px;
        height: 371px;
        margin-top: 50px;
        background: url('Images/Peter Porker.png') no-repeat;
        background-position: 8.5px 15px;
        position: relative;
        background-color:   #0e4f60;
    }
    .Desc6 p1{
        position: absolute;
        top: 210px;
        margin: 0px 80px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }
    .Desc6 p2 {
        position: absolute;
        top: 230px;
        margin: 0px 15px;
        font-family: 'Roboto condensed';
        font-size: .4rem;
        text-align: justify;
        line-height: 2;
    }

    @font-face{
        font-family: 'Singel';
        src: url('Fonts/SingelDemo-SemiBold.otf');
        font-weight: bold;
    }
    
    .Desc1{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .7px;
    }
    .Desc2{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .5px;
    }
    .Desc3{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .5px;
    }
    .Desc4{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .5px;
    }
    .Desc5{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .5px;
    }
    .Desc6{
        font-family:Singel ;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .4px;
    }

    @font-face{
        font-family: 'Victograms';
        src: url('Fonts/VictogramsDemo.otf');
        font-weight: bold;
    }
    h1{
        font-family: Victograms;
        font-size: 2.5rem;
        color: red;
        letter-spacing: .5px;
        }
        
    footer {
        margin: 490px 0px 30px 0px;
        width: 960px;
        height: 200px;
        position: relative;
        }
        #RedSoc {
            margin: 40px 0px 30px 0px;
            width: 490px;
            height: 200px;
        }
        
        @font-face{
            font-family: 'ComicNeue';
            src: url('Fonts/ComicNeue-BoldItalic.ttf');
            font-weight: bold;
        }

        #RedSoc {
        font-family: ComicNeue;
        letter-spacing: .5px;
        }
        
        #RedSoc {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        footer #RedSoc div {
            margin-left: 30px;
            display: flex;
            color: lightskyblue;
            font-weight: 300;
            align-items: center;
        }

        #PropPag {
            font-family: ComicNeue;
            letter-spacing: .5px;
            }
        #PropPag {
            width: 30%;
            height: 200px;
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        footer #PropPag h3 {
            margin: 0px 0px 10px 0px;
            font-size: 1rem;
            color: maroon;
        }
        footer #PropPag p {
            margin: 0px 0px 0px 0px;
            font-size: 1rem;
            color: lightskyblue;
        }
        